@import "../../../../variables";

.title_class_1{ //w-full py-2 bg-rood
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $dodeka_rood;
}


.title_class_2{ //mx-4 lg:mx-16 text-xl text-white font-bold 
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: white;
    font-weight: 700;

    @include respond(computerscherm){
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}