.track_bg {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}

.te_wrap {
    position: absolute;
}

.te_track {
    width: 100%;
    height: 100%;
    display: block;
}
