@import "../../../variables.scss";

.icons_1{ //h-16 lg:h-20 lg:mt-4 w-full
    height: 4rem;
    width: 100%;
    @include respond(computerscherm){
        height: 5rem;
        margin-top: 1rem;
    }
}