.leden-container {
  margin-bottom: 4rem;
}

.leden-status {
  color: #001f48;
  margin-left: 4rem;
}

.leden-login {
  margin-left: 4rem;
}

.leden-login-button {
  padding: 10px 24px;
  background-color: #001f48;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.leden-login-button:hover {
  opacity: 0.9;
}

.leden-routes {
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  .leden-routes {
    display: flex;
    margin-bottom: 2rem;
  }
}

.leden-link {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .leden-link {
    width: calc(100% / 3);
    height: 24rem;
  }

  .leden-link-double {
    width: calc(200% / 3);
  }
}

.leden-link-header {
  position: absolute;
  background-color: #cb4b3d;
  padding: 0.5rem 2rem;
  width: calc(100% - 2rem);
  color: white;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 700;
  top: 2rem;
  margin-left: 2rem;
  z-index: 6;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .leden-link-header {
    width: 20rem;
    margin-left: 0;
    top: 2rem;
    right: 0;
  }

  .leden-link-header-double {
    width: 40rem;
  }
}

.leden-link-image {
  display: block;
  object-fit: cover;
  height: 22rem;
  width: 100%;
  background-color: #001f48;
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  .leden-link-image {
    height: 24rem;
    width: 22rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .leden-link-image-double {
    width: 46rem;
  }
}
