@import "../../../variables.scss";

.baanatletiek_1{//lg:flex bg-blauw bg-opacity-90 w-full
    background-color: $dodeka_blauw90p;
    width: 100%;
    @include respond(computerscherm){
        display: flex;
    }
}

.baanatletiek_2{//lg:inline w-full lg:w-1/2
    width: 100%;
    @include respond(computerscherm){
        display: inline;
        width: 50%;
    }    
}

.baanatletiek_3{//lg:inline py-4 lg:py-0 lg:my-8 w-full lg:w-1/2
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    @include respond(computerscherm){
        display: inline;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-top: $margin_y;
        margin-bottom: $margin_y;
        width: 50%;
    }
}

.baanatletiek_4{//text-white text-md mx-4 lg:mx-16 mt-4 lg:mt-8
    color: white;
    font-size: $font_small;
    line-height: $line_height_small;
    margin-left: $margin_mobile;
    margin-right: $margin_mobile;
    margin-top: $margin_mobile;
    @include respond(computerscherm){
        margin-left: $margin_x;
        margin-right: $margin_x;
        margin-top: $margin_y;
    }
}