@use "../../../variables.scss";

#icons {
    //easter egg
    position: relative;
    overflow-x: hidden;
    //
    height: 4rem;
    width: 100%;
    @include variables.respond(computerscherm){
        height: 5rem;
        margin-top: 1rem;
    }
    will-change: background-position;
    background-repeat: repeat-x;
    background-size: 100vw 4rem;
    -webkit-animation: slide 20s linear infinite;
       -moz-animation: slide 20s linear infinite;
            animation: slide 20s linear infinite;

    //easter egg
    .egg-emoji {
        position: absolute;
        font-size: 2.5rem;
        z-index: 10;
        

        top: 10%; 
        
        left: -20%; 
        animation-fill-mode: backwards;
        animation: slide-egg-sequence 72s linear infinite;
        
        &:nth-child(1) { 
            animation-delay: 0s; 
        }
        &:nth-child(2) { 
            animation-delay: 24s; 
        }
        &:nth-child(3) { 
            animation-delay: 48s;
        }
    }
}


@keyframes slide-egg-sequence {
    0%   { left: -20%; }
    33%  { left: 100%; }
    
    33.1%, 100% { left: -20%; }
}
//

@-webkit-keyframes slide
{
    0%   {background-position: 0 0;}
    100% {background-position: 100vw 0;}
}

@-moz-keyframes slide
{
    0%   {background-position: 0 0;}
    100% {background-position: 100vw 0;}
}

@keyframes slide
{
    0%   {background-position: 0 0;}
    100% {background-position: 100vw 0;}
}

@media screen and (max-width: 768px) {
    #icons {
        will-change: background-position;
        background-repeat: repeat-x;
        background-size: 300vw 4rem;
        -webkit-animation: slide 20s linear infinite;
           -moz-animation: slide 20s linear infinite;
                animation: slide 20s linear infinite;

        //easter egg
        .egg-emoji {
            animation: slide-egg-mobile 20s linear infinite;
        }
        //                
    }

    @-webkit-keyframes slide
    {
        0%   {background-position: 300vw 0;}
        100% {background-position: 0 0;}
    }

    @-moz-keyframes slide
    {
        0%   {background-position: 300vw 0;}
        100% {background-position: 0 0;}
    }

    @keyframes slide
    {
        0%   {background-position: 300vw 0;}
        100% {background-position: 0 0;}
    }
}