@use "../../../variables";

.trainingstijden_1{ //lg:flex mx-4 lg:mx-16
    margin-left: 1rem;
    margin-right: 1rem;
    @include variables.respond(computerscherm){
        margin-left: 4rem;
        margin-right: 4rem;
        display: flex;    
    }
}

.trainingstijden_2{ //block lg:inline bg-rood text-center text-white text-lg font-bold rounded-lg lg:rounded-none lg:rounded-t-lg py-2 w-full lg:w-40
    display: block;
    background-color: variables.$dodeka_rood;
    text-align: center;
    color: white;
    font-size: 0.6rem;
    line-height: 1.75rem;
    font-weight: variables.$bold;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    @include variables.respond(computerscherm){
        display: inline;
        border-radius: 0px;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        width: 10rem;
    }
}

.trainingstijden_3{//flex items-center justify-center text-center text-rood text-lg font-bold rounded-t-lg p-2 flex-grow
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: variables.$dodeka_rood;
    font-size: 0.6rem;
    line-height: 1.75rem;
    font-weight: variables.$bold;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem;
    flex-grow: 1;
}

.trainingstijden_4{//block lg:inline bg-rood text-center text-white text-lg font-bold rounded-lg lg:rounded-none lg:rounded-t-lg py-2 w-full lg:w-40
    display: block;
    background-color: variables.$dodeka_rood;
    text-align: center;
    color: white;
    font-size: 0.6rem;
    line-height: 1.75rem;
    font-weight: variables.$bold;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    @include variables.respond(computerscherm){
        display: inline;
        border-radius: 0px;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        width: 10rem;
    }
}

.trainingstijden_5{//inline flex items-center justify-center text-center text-rood text-lg font-bold rounded-t-lg p-2 flex-grow
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: variables.$dodeka_rood;
    font-size: 0.6rem;
    line-height: 1.75rem;
    font-weight: variables.$bold;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem;
    flex-grow: 1;
}

.trainingstijden_6{//inline flex items-center justify-center text-center text-rood text-lg font-bold rounded-t-lg p-2 flex-grow
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: variables.$dodeka_rood;
    font-size: 0.6rem;
    line-height: 1.75rem;
    font-weight: variables.$bold;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem;
    flex-grow: 1;
}

.trainingstijden_7{//block lg:inline bg-rood text-center text-white text-lg font-bold rounded-lg lg:rounded-none lg:rounded-t-lg py-2 w-full lg:w-40
    display: block;
    background-color: variables.$dodeka_rood;
    text-align: center;
    color: white;
    font-size: 0.6rem;
    line-height: 1.75rem;
    font-weight: variables.$bold;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    @include variables.respond(computerscherm){
        display: inline;
        border-radius: 0px;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        width: 10rem;
    }
}

.trainingstijden_8{//inline flex items-center justify-center text-center text-rood text-lg font-bold rounded-t-lg p-2 flex-grow
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: variables.$dodeka_rood;
    font-size: 0.6rem;
    line-height: 1.75rem;
    font-weight: variables.$bold;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem;
    flex-grow: 1;
}