@use "../../../variables.scss";

.contributie_1{//lg:flex bg-blauw bg-opacity-90 w-full mb-16 lg:mb-24
    background-color: variables.$dodeka_blauw90p;
    width: 100%;
    margin-bottom: 4rem;
    @include variables.respond(computerscherm){
        display: flex;
        margin-bottom: 6rem;
    }
}

.contributie_2{//lg:inline w-full lg:w-1/2
    width: 100%;
    @include variables.respond(computerscherm){
        display: inline;
        width: 50%;
    }
}

.contributie_3{//lg:inline py-4 lg:py-0 lg:my-8 w-full lg:w-1/2
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    @include variables.respond(computerscherm){
        display: inline;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-top: variables.$margin_y;
        margin-bottom: variables.$margin_y;
        width: 50%;
    }
}

.contributie_4{//text-white text-md mx-4 lg:mx-16 mt-4 lg:mt-8
    color: white;
    font-size: variables.$font_small;
    line-height: variables.$line_height_small;
    margin-left: variables.$margin_mobile;
    margin-right: variables.$margin_mobile;
    margin-top: variables.$margin_mobile;
    @include variables.respond(computerscherm){
        margin-left: variables.$margin_x;
        margin-right: variables.$margin_x;
        margin-top: variables.$margin_y;
    }
}

.contributie_5{//text-rood
    color: variables.$dodeka_rood;
    text-decoration: none;
}

.contributieTabel1{
    color: white;
    font-size: 2rem;
    text-align: right;
    font-weight: bold;
    line-height: 4rem;
    margin-left: variables.$margin_mobile;
    margin-right: variables.$margin_mobile;
    margin-top: variables.$margin_mobile;
    @include variables.respond(computerscherm){
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 5rem;
    }
    @include variables.respond(mobile){
        font-size: 1.1rem;
        line-height: 2rem;  
        text-align: left;
    }
}
.contributieTabel2{
    color: white;
    font-size: 2rem;    
    text-align: left;
    font-weight: bold;
    line-height: 4.25rem;
    margin-left: 1rem;
    margin-right: variables.$margin_mobile;
    margin-top: variables.$margin_mobile;
    @include variables.respond(computerscherm){
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 5rem;
    }
    @include variables.respond(mobile){
        font-size: 1.1rem;
        line-height: 2.25rem;  
        text-align: right;
    }
}

.vl {
    height: 20rem;
    width: 1rem;
    background-color: variables.$dodeka_rood;
    border-radius: 0.5rem;
    margin: 0 0.2rem;
    margin-top: 4rem;
    @include variables.respond(mobile){
        height: 10rem;
        width: 0.5rem;
        background-color: variables.$dodeka_rood;
        border-radius: 0.25rem;
        margin-top: 1rem;
    }
  }
  .jaapie {
    font-weight: normal;
    font-size: 1.5rem;
    @include variables.respond(mobile){
        font-size: 0.8rem;
    }
  }
  .footnote_contributie {
    color: white;
    font-size: 1rem;
    text-align: left;
    line-height: 1rem;
    margin-left: variables.$margin_mobile;
    margin-right: variables.$margin_mobile;
    margin-top: variables.$margin_mobile;
    display: flex;
    flex-direction: column;
    @include variables.respond(computerscherm){
        margin-left: 1rem;
    }
    @include variables.respond(mobile){
        font-weight: normal;
        font-size: 0.8rem;
    }
  }
  .jesper_probeert_flex{
    @include variables.respond(computerscherm){
        display: contents
    }
    @include variables.respond(mobile){
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
  }