@use "../../variables";

.hidden {
  display: none;
}

#navBar {
  position: sticky;
  top: 0;
  z-index: 10;
}

#navPc {
  position: relative;
  display: flex;
  height: 4rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: variables.$dodeka_blauw;
  @include variables.respond(mobile) {
    display: none;
  }
}

#home_logo {
  max-width: 614.4px;
  cursor: pointer;
  position: fixed;
  z-index: 5;
  @include variables.respond(mobile) {
    visibility: hidden;
  }
}

#navLogo {
  position: absolute;
  left: 2rem;
  width: 6rem;
  margin-top: 0.5rem;
}

#navItems {
  display: flex;
  margin-left: 12rem;
  margin-right: auto;
}

#navMobile {
  display: none;
  width: 100%;
  background-color: variables.$dodeka_blauw;
  z-index: 2;
  @include variables.respond(mobile) {
    display: block;
  }
}

#navMobileBar {
  position: relative;
  display: flex;
  height: 4rem;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

#navMobileLogo {
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.mobileLogin {
  position: absolute;
  right: 0;
}

.hamburgerIcon {
  position: absolute;
  left: 1rem;
  top: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.hamburgerStreepje {
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 0.25rem;
  width: 2rem;
  border-radius: 0.25rem;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
}

.hamburgerTop {
  transform: translateY(0.75rem) rotate(-45deg);
  transform-origin: center;
}

.hamburgerMiddle {
  opacity: 0%;
}

.hamburgerBottom {
  transform: translateY(-0.75rem) rotate(45deg);
  transform-origin: center;
}

#navMobileContainer {
  position: fixed;
  top: 4rem;
  width: 100vw;
  height: 100vh;
  background-color: variables.$dodeka_blauw;
}

.inactive {
  display: none;
}
