@import "../../../../variables";

#bestuursjaarContainer {
    position: relative;
    width: 100%;
    background-color: $dodeka_blauw90p;
    overflow-x: hidden;
    margin-bottom: 6rem;
    @include respond(mobile) {
        margin-bottom: 4rem;
    }
}

#bestuursjaarLeft {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-top: 3rem;
    @include respond(mobile) {
        width: calc(100% - 3rem);
        margin-left: 3rem;
        margin-top: 1.5rem;
    }
}

#bestuurHeaderContainer {
    float: right;
    width: 100%;
    height: min-content;
}

#bestuurFoto {
    width: 75%;
    float: right;
    @include respond(mobile) {
        width: 100%;
    }
}

#bestuursjaarRight {
    display: inline-block;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    @include respond(mobile) {
        width: 100%;
        margin-top: 0.5rem;
    }
}

#bestuurLid {
    color: white;
    margin: 4rem;
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: $font_medium;
    font-weight: normal;
}

#jaarBestuur {
    color: white;
    margin: 4rem;
    margin-bottom: 0;
    font-size: $font_medium;
    font-weight: normal;
    @include respond(mobile) {
        margin-top: 1rem;
    }
}

.line {
    position: absolute;
    background-color: white;
}

.horizontal {
    height: 0.25rem;
}

.vertical {
    width: 0.25rem;
    height: 100%
}

#line1 {
    top: 0;
    left: 50%;
    @include respond(mobile) {
        left: 1rem;
    }
}

#line2 {
    top: 0;
    left: 50%;
    margin-left: 1rem;
    @include respond(mobile) {
        left: 1rem;
    }
}

#line3 {
    top: 0;
    left: 50%;
    margin-left: 2rem;
    @include respond(mobile) {
        left: 1rem;
    }
}

#line4 {
    width: 25%;
    top: 2rem;
    left: 50%;
    @include respond(mobile) {
        width: 100%;
        top: 1.25rem;
        left: 1rem;
    }
}

#line5 {
    width: 50%;
    top: 3rem;
    left: 0;
    @include respond(mobile) {
        display: none;
    }
}

#line6 {
    width: 50%;
    top: 3rem;
    left: 0;
    margin-left: 2rem;
    @include respond(mobile) {
        display: none;
    }
}
