@use "../../../variables";

.schrijfInDiv {
    width: 100%;
}

.schrijfInButton{
    background-color: variables.$dodeka_rood;
    border-style: none;
    width: calc(100% - 2rem);
    padding-top: variables.$margin_mobile;
    padding-bottom: variables.$margin_mobile;
    color: white;
    font-size: variables.$font_medium;
    line-height: variables.$line_height_medium;
    text-align: center;
    border-radius: 0.25rem;
    font-weight: variables.$bold;
    cursor: pointer;
    margin-top: variables.$margin_mobile;
    margin-left: variables.$margin_mobile;
    margin-right: variables.$margin_mobile;
    box-shadow: 0 0 15px variables.$dodeka_blauw;
    // transition: 0.3s;
    @include variables.respond(computerscherm){
        width: calc(100% - 2 * variables.$margin_x);
        margin-top: variables.$margin_y;
        margin-left: variables.$margin_x;
        margin-right: variables.$margin_x;
    }
}

.inputDiv {
    width: calc(100% - 2 * variables.$margin_x - 1rem);
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 50% 50%;
    @include variables.respond(mobile) {
        width: calc(100% - 3rem);
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.inputDiv input {
    width: 100%;
    border-style: none;
    background-color: white;
    color: variables.$dodeka_blauw;
    padding: 0.5rem;
    border-radius: 0.75rem;
    font-size: variables.$font_medium;
}

.inputDiv input:focus {
    outline: none;
}

.inputDiv input::placeholder {
    color: #808080;
}

.schrijfInStatus {
    font-size: variables.$font_small;
    line-height: variables.$line_height_small;
    color: variables.$dodeka_rood;
    grid-column: span 2;
}

.checkbox {
    grid-column: span 2;
    display: flex;
    line-height: variables.$line_height_small;
}

.checkbox label {
    width: 100%;
    font-size: variables.$font_small;
    line-height: variables.$line_height_small;
    color: white;
}

.checkbox input {
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    cursor: pointer;
}

.privacy_link {
    color: variables.$dodeka_rood;
    text-decoration: none;
}