@import "../../../variables";

#bestuurContainer {
    position: relative;
}

#laadBart {
    cursor: default;
    position: absolute;
    right: 0;
    bottom: -7rem;
    color: $dodeka_blauw;
    opacity: 10%;
    @include respond(mobile) {
        bottom: -5rem;
    }
}