@use "../../variables";

#contact_bar { 
    display: flex;
    width: 100%;
    background-color: variables.$dodeka_blauw90p;
    overflow-x: hidden;
    @include variables.respond(mobile) {
        display: block;
    }
}

.bar_container {
    display: inline;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include variables.respond(mobile) {
        display: block;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

.bar_info {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    line-height: variables.$line_height_small;
    text-align: center;
    @include variables.respond(mobile) {
        text-align: left;
    }
}



.bar_link {
    color: variables.$dodeka_rood;
    text-decoration: none;
}

.no_underline {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.bar_sponsor {
    margin-right: 1rem;
    vertical-align: middle;
    @include variables.respond(mobile) {
        margin: 0;
        transform: scale(0.9);
    }
}

.maltha_bar {
    width: 5.03rem;
}

.muconsult_bar {
    width: 6.53rem;
}

.boozed_bar {
    width: 8.13rem;
}
.virtuoos_bar {
    width: 6.5rem;
}