@use "../../../variables";

.verjaardagen_status {
    color: variables.$dodeka_blauw;
    margin-left: 4rem;
}

.verjaardagen_container {
    margin-bottom: 5rem;
    margin-top: -2rem;
    @include variables.respond(computerscherm) {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 3rem;
        margin-right: 4rem;
    }
    @include variables.respond(mobile) {
        margin-bottom: 3rem;
        margin-top: 0;
    }
}

.verjaardagen_contents {
    display: contents;
}

.left {
    grid-column: 1;
    grid-row: 1;
}