@use "../../../../variables";

.maand {
    width: 12rem;
    padding: 1rem;
    background-color: variables.$dodeka_blauw;
    color: white;
    font-size: variables.$font_medium;
    line-height: variables.$line_height_medium;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 0.75rem;
    @include variables.respond(computerscherm) {
        grid-column: span 2;
    }
    @include variables.respond(mobile) {
        font-size: variables.$font_small;
        line-height: variables.$line_height_small;
        padding: 0.5rem;
        width: 8rem;
        margin-bottom: 1rem;
        margin-top: 0;
    }
}