@use "../../../../variables";

.verjaardag_container {
    display: flex;
    background-color: variables.$dodeka_blauw90p;
    color: white;
    font-size: variables.$font_medium;
    margin-left: 1rem;
    margin-bottom: 1rem;
    @include variables.respond(mobile) {
        height: calc(2 * variables.$line_height_small + 0.5rem);
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: variables.$font_small;
        position: relative;
    }
}

.verjaardag_container p {
    padding: 1rem;
    @include variables.respond(mobile) {
        padding: 0.25rem;        
        line-height: calc(2 * variables.$line_height_small);
    }
}

.verjaardag_naam {
    flex-grow: 1;
}

.verjaardag_datum {
    width: 12rem;
    margin-left: 1rem;
    font-weight: variables.$bold;
    @include variables.respond(mobile) {
        display: none;
        margin-left: 1rem;
        width: 6rem;
        line-height: calc(2* variables.$line_height_small) !important;
        vertical-align: middle;
    }
}

.verjaardag_datum_mobile {
    @include variables.respond(computerscherm) {
        display: none;
    }
    margin-left: 0.5rem;
    font-weight: variables.$bold;
    line-height: calc(2* variables.$line_height_small) !important;
    vertical-align: middle;
}

.verjaardag_leeftijd {
    width: 12rem;
    background-color: variables.$dodeka_rood;
    text-align: right;
    padding-right: 2rem !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    @include variables.respond(mobile) {
        width: 6rem;
        padding-right: 1rem !important;
        line-height: calc(2* variables.$line_height_small) !important;
    }
}