* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#brand {
    color: white;
    font-weight: bold;
    font-size: xx-large;
}

#tabs * {
    color: white;
}

#tabs *:hover {
    color: lightgrey;
}