@use "../../../variables";

#contact {
    width: 100%;
    background-color: variables.$dodeka_blauw90p;
    display: flex;
    margin-bottom: variables.$margin_x;
    @include variables.respond(mobile) {
        display: block;
        margin-bottom: variables.$margin_y;
    }
}

#contact_info {
    width: 50%;
    display: inline;
    margin-top: variables.$margin_y;
    margin-bottom: variables.$margin_y;
    @include variables.respond(mobile) {
        width: 100%;        
    }
}

#contact_map {
    width: 50%;
    height: auto;
    display: inline;
    @include variables.respond(mobile) {
        width: 100%;
        height: 24rem;
        display: block;
    }
}

#faq {
    margin-bottom: 4rem;
    @include variables.respond(mobile) {
        margin-bottom: 2rem;
    }
}