@use "../../../variables.scss";

.algemeen{
    position: relative;
    margin-top: 0rem;
    width: 100%;
    content: "";
    display: table;
    clear: both;
    margin-bottom: 6rem;
    @include variables.respond(mobile) {
        margin-bottom: 2rem;
    }
}


.kolom {
    float: left;
    width: 50%;
    @include variables.respond(mobile) {
        width: 100%;
    }
}


.SoortKlassement {
    width: 70%;
    background-color: variables.$dodeka_rood;
    color: #fff;
    border-radius: .75rem;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: variables.$bold;
    margin-top: 2rem;
    margin-left: 15%;
    object-position: center;
    text-align: center;
    margin-bottom: 1rem;
}

.EerstePersoonLinks{
    object-position: left; 
    clip-path: polygon(0% 0%,100% 0%,95% 100%,0% 100%);
    text-align: right;
    width: 95%;
    height: 3rem;
    background-color: variables.$dodeka_blauw90p;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 3rem;
    font-size: variables.$font_medium;
    font-weight: variables.$bold;
    margin-bottom: 1rem;

}

.TweedePersoonLinks{
    object-position: left;
    clip-path: polygon(0% 0%,100% 0%,95% 100%,0% 100%); 
    text-align: right;
    width: 89.35%;
    height: 3rem;
    background-color: variables.$dodeka_blauw90p;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 3rem;
    font-size: variables.$font_medium;
    font-weight: variables.$bold;
    margin-bottom: 1rem;

}

.DerdePersoonLinks{
    object-position: left;
    clip-path: polygon(0% 0%,100% 0%,95% 100%,0% 100%);
    text-align: right; 
    width: 83.7%;
    height: 4rem;
    background-color: variables.$dodeka_blauw90p;
    color: white;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 3rem;
    font-size: variables.$font_medium;
    font-weight: variables.$bold;
    margin-bottom: 1rem;
    @include variables.respond(mobile){
        margin-bottom: 0rem;
    }
}

.VierEnLagerLinks{
    display: grid;
    grid-template-columns: 50% 50%;
    object-position: left; 
    text-align: left;
    width: 79.5%;
    background-color: variables.$dodeka_blauw90p;
    color: #fff;
    padding: 1rem;
    font-size: variables.$font_medium;
    margin-bottom: 2rem;
    padding-left: 2rem;
    @include variables.respond(mobile){
        display: block;
        text-align: left;
        padding-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }
    
}

.EerstePersoonRechts{
    object-position: right; 
    clip-path: polygon(0% 0%,100% 0%, 100% 100%,5% 100%);
    text-align: left;
    width: 95%;
    height: 3rem;
    background-color: variables.$dodeka_blauw90p;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    font-size: variables.$font_medium;
    font-weight: variables.$bold;
    margin-bottom: 1rem;
    margin-left: 5%;
}
    
.TweedePersoonRechts{
    object-position: right; 
    clip-path: polygon(0% 0%,100% 0%, 100% 100%,5% 100%);
    text-align: left;
    width: 89.35%;
    height: 3rem;
    background-color: variables.$dodeka_blauw90p;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    font-size: variables.$font_medium;
    font-weight: variables.$bold;
    margin-bottom: 1rem;
    margin-left: 10.65%;
}
    
.DerdePersoonRechts{
    object-position: right; 
    clip-path: polygon(0% 0%,100% 0%, 100% 100%,5% 100%);
    text-align: left;
    width: 83.75%;
    height: 4rem;
    background-color: variables.$dodeka_blauw90p;
    color: white;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    font-size: variables.$font_medium;
    font-weight: variables.$bold;
    margin-bottom: 1rem;
    margin-left: 16.25%;
    @include variables.respond(mobile){
        margin-bottom: 0rem;
    }
}
    
.VierEnLagerRechts{
    display: grid;
    grid-template-columns: 50% 50%;
    object-position: right; 
    text-align: left;
    width: 79.5%;
    background-color: variables.$dodeka_blauw90p;
    color: #fff;
    padding: 1rem;
    font-size: variables.$font_medium;
    margin-bottom: 2rem;
    margin-left: 20.5%;
    @include variables.respond(mobile){
        display: block;
        text-align: left;
        padding-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }
    
}

.knop{
    display: none;
    @include variables.respond(mobile) {
        display: cover;
        background-color: variables.$dodeka_blauw90p;
        color: white;
        font-size: variables.$font_medium;
        margin: 1rem;
    }

}

.persoonMargin {
    margin-bottom: 0.5rem;
}

.klassementHidden {
    @include variables.respond(mobile) {
        display: none;
    }
}

.klassementLaad {
    background-color: variables.$dodeka_rood;
    color: #fff;
    border-radius: .75rem;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: variables.$bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    object-position: center;
    text-align: center;
    cursor: pointer;
    @include variables.respond(computerscherm) {
        display: none;
    }
}

.points_info {
    display: flex;
    @include variables.respond(mobile) {
        display: unset;
    }
}

.points_info_column {
    width: calc(50% - 2rem);
    margin-right: 1rem;
    @include variables.respond(mobile) {
        width: 100%;
        margin-bottom: 2rem;
    }
}

.points_info_column h1 {
    font-size: variables.$font_ml;
}

.points_info_colum p {
    font-size: variables.$font_medium;
    line-height: variables.$line_height_medium;
}

.points_info_row {
    display: flex;
    margin-top: 0.5rem;
}

.points_info_category {
    flex-grow: 1;
}

.points_info_points {
    color: variables.$dodeka_rood;
    @include variables.respond(mobile) {
        min-width: max-content;
    }
}

.show_info_link {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    color: variables.$dodeka_rood;
    font-size: variables.$font_small;
    cursor: pointer;
    @include variables.respond(mobile) {
        right: 1rem;
        left: unset;
        transform: none;
        top: 5rem;
    }
}

.points_info_container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: variables.$dodeka_blauw;
    width: 100%;
    height: 100%;
    opacity: 20%;
}

.points_info_pop_up {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10vh;
    left: 25%;
    background-color: variables.$dodeka_blauw;
    width: 50%;
    max-height: calc(min(90%, 75vh));
    opacity: 100%;
    z-index: 2;
    border-radius: 0.75rem;
    color: white;
    padding: 1rem 2rem;
    @include variables.respond(mobile) {
        width: calc(100% - 2rem);
        left: 1rem;
        overflow-y: scroll;
    }
}

.points_info_title {
    font-size: variables.$font_ml;
    font-weight: variables.$bold;
    margin-bottom: 1rem;
    @include variables.respond(mobile) {
        max-width: calc(100% - 2rem);
    }
}

.points_info_cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: white;
    width: 2rem;
    cursor: pointer;
    @include variables.respond(mobile) {
        width: 1.5rem;
    }
}

.klassementen_status {
    color: variables.$dodeka_blauw;
    margin-left: 4rem;
}

.classUpdated {
    display: flex;
    color: variables.$dodeka_blauw;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}