@import "../../variables.scss";

.profiel_status {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    color: $dodeka_blauw;
    text-align: left;
}

.profiel {
    position: relative;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: $dodeka_blauw90p;
    @include respond(mobile) {
        margin-top: 4rem;
        padding-top: 0;
        margin-bottom: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.profiel_naam {
    width: calc(50% - 4rem);
    top: -2.25rem;
    left: 4rem;
    position: absolute;
    background-color: $dodeka_rood;
    color: white;
    font-size: $font_large;
    font-weight: $bold;
    line-height: $line_height_large;
    padding: 1rem;
    border-radius: 0.75rem;
    @include respond(mobile) {
        width: calc(100% - 2rem);
        left: 1rem;
        padding: 0.5rem;
        font-size: $font_medium;
        line-height: $line_height_medium;
        top: -1.25rem;
    }
}

.profiel_info {
    color: white;
    font-size: $font_medium;
    line-height: $line_height_medium;
    padding-bottom: 0.5rem;
    @include respond(mobile) {
        font-size: $font_small;
        line-height: $line_height_small;
    }
}

.profiel_highlights {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: absolute;
    width: calc(25% - 2rem);
    right: 15%;
    top: 8rem;
    padding: 1rem;
    background-color: white;
    color: $dodeka_rood;
    font-weight: $bold;
    text-align: center;
    font-size: $font_medium;
    line-height: $line_height_medium;
    border-radius: 0.75rem;
    @include respond(mobile) {
        display: block;
        position: relative;
        width: 100%;
        
        right: auto;
        top: auto;
        margin-top: 1rem;
    }
}

.profiel_highlights p {
    padding-bottom: 0.5rem;
}

.profiel_edit {
    background-color: $dodeka_rood;
    width: fit-content;
    display: flex;
    padding: 0.5rem;
    position: absolute;
    top: 4rem;
    right: 50%;
    cursor: pointer;
    border-radius: 0.75rem;
    @include respond(mobile) {
        right: 1rem;
        top: 2rem;
    }
}

.profiel_edit_text {
    color: white;
    margin-right: 0.5rem;
    font-size: $font_small;
    line-height: $line_height_small;
    font-weight: $bold;
    @include respond(mobile) {
        display: none;
    }
}

.profiel_edit_icon {
    height: 1rem;
    fill: white;
    vertical-align: middle;
    margin-top: 0.25rem;
}

.profiel_hidden {
    display: none;
}

.profiel_input {
    display: block;
    width: 25%;
    border-style: none;
    background-color: white;
    color: $dodeka_blauw;
    padding: 0.5rem;
    border-radius: 0.75rem;
    font-size: $font_medium;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    @include respond(mobile) {
        width: 50%;
        font-size: $font_small;
        line-height: $line_height_small;
        padding: 0.25rem;
    }
}

.profiel_input:focus {
    outline: none;
}

.profiel_input::placeholder {
    color: #808080;
}

.profiel_button {
    background-color: $dodeka_rood;
    width: fit-content;
    color: white;
    border: none;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem;
    font-size: $font_medium;
    font-weight: $bold;
    margin-top: 1rem;
    @include respond(mobile) {
        font-size: $font_small;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

// .profiel_edit_info{
//     :
// }