@import "../../../../variables";

.arnoldClublied {
    display: flex;
    width: 100%;
    background-color: $dodeka_blauw90p;
    margin-bottom: 6rem;
    @include respond(mobile) {
        display: block;
        margin-bottom: 4rem;
    }
}

.clubliedLyrics {
    display: inline;
    width: 50%;
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-y: scroll;
    height: calc(50vw * 0.5625 - 2rem);
    @include respond(mobile) {
        display: block;
        width: 100%;
        padding: 1rem;
        height: calc(100vw * 0.5625 *2);
    }
}

.clubliedLyrics p {
    font-size: $font_small;
    line-height: $line_height_small;
    height: calc(100% - 4rem);
    @include respond(mobile) {
        padding-bottom: 1rem;
        height: auto;
    }
}

.clubliedVideo {
    display: inline;
    border: 0;
    width: 50%;
    height: calc(50vw * 0.5625);
    @include respond(mobile) {
        height: calc(100vw * 0.5625);
        display: block;
        width: 100%;
    }
}