@use "../../variables.scss";

.modal-form {
    display: flex;
    flex-direction: column;

    label {
        font-size: variables.$font_medium;
        line-height: variables.$line_height_medium;
        font-weight: variables.$bold;
        margin-bottom: 1rem;
    
        input, select {
            margin-left: 1rem;
        }
    }

    input, select {
        border-style: none;
        background-color: white;
        color: variables.$dodeka_blauw;
        padding: 0.5rem;
        border-radius: 0.75rem;
        font-size: variables.$font_medium;
    }

    button {
        border-style: none;
        width: fit-content;
        background-color: variables.$dodeka_rood;
        padding: 0.5rem 1rem;
        color: white;
        border-radius: 0.75rem;
        font-weight: variables.$bold;
        cursor: pointer;
    }
}