@import "../../variables";

.spike_1{ //ml-4 lg:ml-14 my-4 lg:my-8 w-40
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 10rem;
    @include respond(computerscherm){
        margin-left: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.spike_2{ //space-y-8 lg:space-y-24 mb-4 lg:mb-12
    margin-top: 2rem;
    margin-bottom: 1rem;
    @include respond(computerscherm){
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
}

.spike_3{ //mb-8 lg:mb-24
    margin-bottom: 2rem;
    @include respond(computerscherm){
        margin-bottom: 6rem;
    }    
}

.spike_4{ //bg-rood text-white text-xl font-bold rounded-xl py-2 px-4 lg:py-4 mb-4 lg:mb-12
    background-color: $dodeka_rood;
    --tw-text-opacity: 1;
    color: white;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    border-radius: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    @include respond(computerscherm){
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }
}