@use "../../../variables";

.vcp_container{
    margin-top: 0rem;
    margin-bottom: 2rem;
}


.vcp_algemeen{
    width: calc(100% - 8rem);
    // display: inline-table;
    // height: 16rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: variables.$dodeka_blauw90p;
    color: white;
    border-radius: 0.75rem;
    @include variables.respond(mobile){
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc(100% - 2rem);
        padding-bottom: 2rem;
    }
}

.vcp_algemeen p {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    font-size: variables.$font_small;
    @include variables.respond(mobile) {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
    }
}

.vcp_persoon {
    margin-bottom: 2rem;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    width: calC(50% - 5rem);
    display: inline-block;
    // height: 20rem;
    background-color: variables.$dodeka_blauw90p;
    color: white;
    border-radius: 0.75rem;
    @include variables.respond(mobile){
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0rem;
        margin-bottom: 2rem;
        width: calc(100% - 2rem);
        padding: 1rem;
    }
}

.vcp_left {
    margin-left: 4rem;
    margin-right: 1rem;
    @include variables.respond(mobile) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.vcp_right {
    margin-left: 1rem;
    margin-right: 4rem;
    @include variables.respond(mobile) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.vcp_img {
    width: 100%;
    padding-bottom: 1rem;
}

.vcp_naam {
    font-size: variables.$font_medium;
    font-weight: variables.$bold;
    padding-bottom: 0.5rem;
}

.vcp_mail {
    text-decoration: none;
    color: variables.$dodeka_rood;
}