@use "../../../../variables";

.sponsoropties_1{ //lg:flex bg-blauw bg-opacity-90 w-full mb-16 lg:mb-24
    background-color: variables.$dodeka_blauw90p;
    width: 100%;
    margin-bottom: 4rem;
    @include variables.respond(computerscherm){
        display: flex;
        margin-bottom: 6rem;
    }
}

.sponsoropties_2{ //lg:inline py-4 lg:py-0 lg:my-8 w-full lg:w-2/3
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    @include variables.respond(computerscherm){
        display: inline;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 66.666667%;
    }
}

.sponsoropties_3{ //text-white text-md mx-4 lg:mx-16 mt-4 lg:mt-8 mb-16 lg:mb-24
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    font-size: variables.$font_small;
    line-height: variables.$line_height_small;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    @include variables.respond(computerscherm){
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
}

.sponsoropties_4{ //pt-4 px-4 text-white lg:text-center
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;    
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    @include variables.respond(computerscherm){
        text-align: left;
    }
    @include variables.respond(mobile){
        flex-direction: column;
        align-items: center;
    }
}

.sponsoropties_5{ //lg:mx-12 w-36 h-32
    width: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include variables.respond(computerscherm){
        margin-left: 1rem;
        margin-right: 1rem
    }
}

.sponsoropties_6{ //lg:inline w-full lg:w-1/3 pt-16 lg:pt-0 lg:pl-16 bg-white
    width: 100%;
    padding-top: 4rem;
    --tw-opacity: 1;
    // background-color: white;
    @include variables.respond(computerscherm){
        display: inline;
        width: 33.333333%;
        max-height: 700px;
        padding-top: 0px;
        padding-left: 4rem;
    }
}

.linktomail_1{
    color: variables.$dodeka_rood;
    text-decoration: none;
}


.maltha {
    width: 10.05rem;
}

.muconsult {
    width: 13.05rem;
}

.boozed {
    width: 16.26rem;
}

.virtuoos {
    width: 12.26rem;
}