@import "../../../../variables";

.wedstrijd_algemeen {
    flex-grow: 1;
    background-color: $dodeka_blauw90p;
    margin-right: 4rem;
    padding-bottom: 2rem;
    border-bottom-right-radius: 0.75rem;
    @include respond(mobile) {
        margin-right: 0;
        width: 100%;
        padding-bottom: 2rem;
        margin-bottom: 4rem;
        border-bottom-right-radius: 0;
        padding-bottom: 1rem;
    }
}

.wedstrijd_algemeen_foto {
    width: calc(100% - 8rem);
    height: 32rem;
    object-fit: cover;
    margin: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include respond(mobile) {
        width: calc(100% - 2rem);
        margin: 1rem;
        height: 16rem;
    }
}

.wedstrijd_algemeen_info {
    margin-right: 4rem;
    margin-left: 4rem;
    color: white;
    column-count: 2;
    @include respond(mobile) {
        margin-left: 1rem;
        margin-right: 1rem;
        column-count: 1;
    }
}

.inschrijf_button {
    text-decoration: none;
    display: block;
    position: relative;
    background-color: $dodeka_rood;
    padding-top: $margin_mobile;
    padding-bottom: $margin_mobile;
    color: white;
    font-size: $font_medium;
    line-height: $font_medium;
    text-align: center;
    border-radius: 0.25rem;
    font-weight: $bold;
    cursor: pointer;
    margin-top: $margin_mobile;
    margin-left: $margin_mobile;
    margin-right: $margin_mobile;
    @include respond(computerscherm){
        width: auto;
        margin-top: $margin_y;
        margin-left: $margin_x;
        margin-right: $margin_x;
    }
}

.wedstrijd_algemeen_link {
    color: $dodeka_rood;
    text-decoration: none;
}