@use "../../variables.scss";

.leden_container {
    @include variables.respond(computerscherm){
        margin-bottom: 4rem;
    }
}

.leden_status {
    color: variables.$dodeka_blauw;
    margin-left: 4rem;
}

.leden_routes{
    margin-bottom: 2rem;
    @include variables.respond(computerscherm){
        display: flex;
        margin-bottom: 2rem;
    }
}

.leden_link {//relative w-full lg:w-1/3 lg:h-128
    position: relative;
    width: 100%;
    @include variables.respond(computerscherm){
        width: calc(100%/3);
        height: 24rem;
    }
}

.leden_link_double {
    position: relative;
    width: 100%;
    @include variables.respond(computerscherm){
        width: calc(200%/3);
        height: 24rem;
    }

}

.leden_link_header {//absolute bg-rood py-2 px-8 w-96 text-white text-3xl font-bold top-8 ml-8 z-30 lg:ml-0 left-0 lg:top-32 lg:right-0
    position: absolute;
    background-color: variables.$dodeka_rood;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100% - 2rem);
    color: white;
    font-size: 1.75rem;
    line-height: variables.$line_height_large;
    font-weight: variables.$bold;
    top: 2rem;
    margin-left: 2rem;
    z-index: 6;
    left: 0rem;
    @include variables.respond(computerscherm){
        width: 20rem;
        margin-left: 0rem;
        top: 2rem;
        right: 0rem;
    }
}

.leden_link_double_header {//absolute bg-rood py-2 px-8 w-96 text-white text-3xl font-bold top-8 ml-8 z-30 lg:ml-0 left-0 lg:top-32 lg:right-0
    position: absolute;
    background-color: variables.$dodeka_rood;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100% - 2rem);
    color: white;
    font-size: 1.75rem;
    line-height: variables.$line_height_large;
    font-weight: variables.$bold;
    top: 2rem;
    margin-left: 2rem;
    z-index: 6;
    left: 0rem;
    @include variables.respond(computerscherm){
        width: 40rem;
        margin-left: 0rem;
        top: 2rem;
        right: 0rem;
    }
}

.leden_link_image {//object-cover h-96 w-96 bg-blauw m-auto mt-16 lg:mt-24
    display: block;
    object-fit: cover;
    height: 22rem;
    width: 100%;
    background-color: variables.$dodeka_blauw;
    margin-bottom: 2rem;
    @include variables.respond(computerscherm){
        height: 24rem;
        width: 22rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.leden_link_double_image {
    display: block;
    object-fit: cover;
    height: 22rem;
    width: 100%;
    background-color: variables.$dodeka_blauw;
    margin-bottom: 2rem;
    @include variables.respond(computerscherm){
        height: 24rem;
        margin-bottom: 0;
        width: 46rem;
        margin-left: auto;
        margin-right: auto;
    }

}