.inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .inner {
    transform: rotateY(180deg);
}

.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}