@use "../variables";

#page {
    color: variables.$dodeka_blauw;
    font-weight: variables.$bold;
    font-size: variables.$font_large;
    line-height: variables.$line_height_large;
    margin-left: variables.$margin_x;
    margin-top: variables.$margin_y;
    margin-bottom: variables.$margin_y;
    text-align: left;
    word-wrap: break-word;
    @include variables.respond(mobile) {
        margin-left: variables.$margin_mobile;
        margin-top: variables.$margin_mobile;
    }
}