@media screen and (min-width: 769px) {

.diagonal {
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.dia {
    clip-path: polygon(0% 0%, 100% 0%, 66.25% 100%, 0% 100%);
}
}

.nieuwsstukje {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}