@use "../../../variables";

#home_samenwerking_container {
    width: 100%;
    position: relative;
    height: 28rem;
    margin-top: 6rem;
    @include variables.respond(mobile) {
        height: auto;
        margin-top: 2rem;
    }
}

#home_samenwerking_foto {
    position: absolute;
    right: 0;
    width: calc(100%/3);
    height: 22rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 30% 100%);
    @include variables.respond(mobile) {
        width: 100%;
        position: relative;
        clip-path: none;
    }
}

#home_samenwerking_foto_2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#home_samenwerking_title {
    position: absolute;
    left: 0;
    top: 2rem;
    width: 75%;
    background-color: variables.$dodeka_rood;
    height: 4rem;
    color: white;
    text-align: right;
    font-size: 1.75rem;
    font-weight: variables.$bold;
    padding-top: 0.75rem;
    padding-left: 4rem;
    padding-right: 4rem;
    @include variables.respond(mobile) {
        text-align: left;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

#home_samenwerking_button {
    background-color: variables.$dodeka_rood;
    color: white;
    font-size: variables.$font_medium;
    font-weight: variables.$bold;
    border-radius: 0.75rem;
    padding: 0.5rem;
    border: none;
}


.home_samenwerking_fotos {
    position: absolute;
    width: 75%;
    left: 0;
    background-color: variables.$dodeka_blauw90p;
    height: 22rem;
    padding-left: 4rem;
    padding-right: 10rem;
    padding-top: 8rem;
    clip-path: polygon(0% 0%, 85% 0%, calc((1 - (1/60)) * 100%) 100%, 0% 100%);
    color: white;
    line-height: variables.$line_height_small;
        display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    @include variables.respond(mobile) {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-bottom: 0.5rem;
        clip-path: none;
    }
}

.home_samenwerking_fotos img.sponsors {
    max-height: 100%; 
    height: auto;
    object-fit: contain;
}
