@import "../../variables";

.records {
    margin-bottom: 4rem;
}

.toggles {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    @include respond(mobile) {
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.toggle {
    display: flex;
    border: none;
    @include respond(mobile) {
        justify-content: center;
        margin-bottom: 1rem;
    }
}

.toggle p {
    width: 6rem;
    text-align: center;
    font-size: $font_medium;
    font-weight: $bold;
    line-height: $line_height_medium;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    @include respond(mobile) {
        font-size: $font_small;
        line-height: $line_height_small;
    }
}

.toggleLeft {
    border-radius: 0.75rem 0 0 0.75rem;
}

.toggleRight {
    border-radius: 0 0.75rem 0.75rem 0;
}

.toggleActive {
    background-color: $dodeka_rood;
}

.toggleInactive {
    background-color: $dodeka_blauw90p;
}