@use "../../../variables";

.OWeeSchema {
    background-color: white;
    background-image: url("$images/owee/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 4rem solid variables.$dodeka_blauw90p;
    border-bottom: 4rem solid variables.$dodeka_blauw90p;
    width: 100%;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 8rem;
    @include variables.respond(mobile) {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 0;
        padding-bottom: 1rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        border-top: 2rem solid variables.$dodeka_blauw90p;
        border-bottom: 2rem solid variables.$dodeka_blauw90p;
    }
}

.OWeeSchema > * {
    @include variables.respond(mobile) {
        scroll-snap-align: center;
    }
}


.OWeeHeader {
    font-size: variables.$font_large;
    color: variables.$dodeka_rood;
    -webkit-text-stroke: 1px white;
}

.OWeeDag {
    display: inline-block;
    width: calc(20% - 1rem);
    color: variables.$dodeka_blauw90p;
    vertical-align: top;
    margin-right: 1rem;
    padding-right: 1rem;
    @include variables.respond(mobile) {
        display: auto;
        width: 100%;
        min-width: 80vw;
    }
}

.OWeeDatum {
    color: variables.$dodeka_blauw;
    font-size: variables.$font_medium;
    //margin: top right bottom left;
    //margin-bottom: 1rem;
    margin: 1rem 0 0 1rem;
    font-weight: variables.$bold;
}

.OWeeDatumDag {
    font-size: variables.$font_ml;
    margin: 0 0 1rem 1rem;
    font-weight: variables.$bold;
}

.OWeeActiviteit {
    background-color: variables.$dodeka_blauw90p;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin: 1rem;
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.05);
    }
}

.OWeeActiviteitNaam {
    font-size: variables.$font_medium;
    color: white;
    // font-weight: $normal;
}

.OWeeActiviteit:hover {
    margin: 1rem;
}

.OWeeActiviteit:active{
    margin: 1rem;
}

.OWeeActiviteitTijd {
    font-size: variables.$font_small;
    padding-top: 0.5rem;
    color: white;
    // font-weight: $bold;
}

.OWeeActiviteitPlaats {
    font-size: variables.$font_small;
    padding-bottom: 0.5rem;
    color: white;
    // font-weight: $bold;
}

.OWeeActiviteitOmschrijving {
    font-size: variables.$font_small;
    color: variables.$dodeka_blauw90p;
    color: white;
}

.planning {
    background-color: white;
    border-radius: 1rem;
}

.hidden {
    display: none;
}

.popup {
    position: relative;
    background-color: white;
    border-radius: 1rem;
    padding: 3.5rem 2rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.popupContent {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.popupText {
    flex: 1;
}

.OWeeImagePopup {
    width: 45%;
    border-radius: 0.5rem;
}

.closePopup {
    position: absolute;
    top: 1rem;
    right: 1rem;

    width: 30px;
    height: 30px;

    border: none;
    background: transparent;
    cursor: pointer;

    font-size: 2rem;
    line-height: 1;
    z-index: 10;
}

@media (max-width: 600px) {
    .popup {
        margin: 0 1rem;
    }
    .popupContent {
        flex-direction: column;
    }

    .OWeeImagePopup {
        width: 100%;
    }
}