@import "../../../variables";

.role_list {
    margin-left: auto;
    margin-right: auto;
}

.role_icon {
    display: inline-block;
    margin-right: 1rem;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    border-radius: 0.75rem;
    font-weight: $bold;
}

.role_delete {
    width: 1.5rem;
    margin-left: 0.5rem;
    stroke-width: 1px;
    cursor: pointer;
}

.add_role * {
    display: inline-block;
}

.add_role select {
    // appearance: none;
    background-color: white;
    border-radius: 0.75rem;
    border: none;
    padding: 0.5rem;
    font-family: inherit;
    color: $dodeka_blauw;
    // font-size: $font_medium;
    cursor: pointer;
    font-weight: $bold;
    font-size: $font_small;
    // line-height: $line_height_medium;
    margin: 0 0 0.5rem;
}

.add_role button {
    font-family: inherit;
    margin-left: 1rem;
}

.manage_roles_container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dodeka_blauw;
    width: 100%;
    height: 100%;
    opacity: 20%;
}

.manage_roles {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 12.5%;
    left: 25%;
    background-color: $dodeka_blauw;
    width: 50%;
    height: 75%;
    opacity: 100%;
    z-index: 50;
    border-radius: 0.75rem;
    color: white;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.manage_roles_title {
    font-size: $font_ml;
    font-weight: $bold;
    margin-bottom: 1rem;
}

.manage_roles_header {
    font-size: $font_medium;
    line-height: $line_height_medium;
    font-weight: $bold;
    margin-bottom: 1rem;
}

.manage_roles_roles {
    overflow-y: scroll;
    flex-grow: 1;
}

.manage_roles_icon {
    border: 2px white solid;
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    border-radius: 0.75rem;
    font-weight: $bold;
    font-size: $font_medium;
    line-height: $line_height_medium;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.manage_roles_delete {
    display: inline-block;
    font-size: $font_small;
    color: $dodeka_rood;
    background: none;
    border: none;
    margin-left: 1rem;
    cursor: pointer;
}

.manage_roles_cross {
    position: absolute;
    top: 1rem;
    right: 1rem;
    fill: white;
    width: 2rem;
    cursor: pointer;
}

.submit_role {
    width: calc(100%);
}

.submit_role_input {
    border-style: none;
    background-color: white;
    color: $dodeka_blauw;
    padding: 0.5rem;
    border-radius: 0.75rem;
    font-size: $font_medium;
    line-height: $line_height_medium;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: calc(50% - 1rem);
}

.submit_role_input:focus {
    outline: none;
}

.submit_role_color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    width: calc(25% - 0.5rem);
    margin-left: 1rem;
    height: calc(1rem + $line_height_medium);
    border-radius: 0.75rem;
    // transform: translateY(25%);
    vertical-align: bottom;
    margin-bottom: 0.75rem;
    padding: 0;
    cursor: pointer;
}

.submit_role_color::-webkit-color-swatch {
    border: 2px white solid;
    border-radius: 0.75rem;
    height: calc(1rem + $line_height_medium);
}

.submit_role_color::-moz-color-swatch {
    border: 2px white solid;
    border-radius: 0.75rem;
    height: calc(1rem + $line_height_medium);
    
}

.submit_role button {
    width: calc(25% - 0.5rem);
    margin-left: 1rem;
    font-size: $font_medium;
    font-weight: $bold;
    line-height: $line_height_medium;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
}