@import "../../../variables";

.leden_table {
  background-color: $dodeka_blauw90p;
  color: white;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
}

.leden_table th {
  width: 20%;
  padding: 0;
  margin:0;
  background-color: $dodeka_rood;
  height: 4rem;
  font-size: $font_medium;
}

.leden_table th:last-of-type {
  border-radius: 0 0.5rem 0 0;
}

.leden_table tr {
  height: 4rem;
  font-size: $font_small;
  line-height: $line_height_small;
  text-align: center;
}

.leden_table button {
  background: none;
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: $font_small;
  line-height: $line_height_small;
  font-weight: $bold;
}

.leden_table svg {
  fill: white;
  line-height: 4rem;
  vertical-align: middle;
  cursor: pointer;
  align-self: center;
}

.confirmStatus {
  color: green;
}

.bevestig_inschrijving {
  height: 4rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.bevestig_inschrijving input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 4rem;
  width: 20%;
  height: 2rem;
  border-style: none;
  background-color: white;
  color: $dodeka_blauw;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  font-size: $font_small;
  line-height: $line_height_small;
}

.bevestig_inschrijving button {
  color: $dodeka_rood !important;
}

.canSort {
    cursor: pointer;
}

.leden_table_header_button {
  background-color: white !important;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  line-height: 3rem;
  color: $dodeka_rood;
  border-radius: 0.75rem;
  cursor: pointer;
}

.leden_table_row_button {
  background-color: $dodeka_rood !important;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  border-radius: 0.75rem;
  font-weight: $bold;
  cursor: pointer;
}