@import "../../../../variables";

.eigenWedstrijd {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
    max-width: 32rem;
    border-left: 4rem solid $dodeka_rood;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    @include respond(mobile) {
        border-left: 2rem solid $dodeka_rood;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.eigenWedstrijdOud {
    border-left: 4rem solid $dodeka_grijs;
    @include respond(mobile) {
        border-left: 2rem solid $dodeka_grijs;
    }
}

.eigenWedstrijdNaam {
    display: block;
    color: white;
    font-size: $font_large;
    line-height: $line_height_large;
    font-weight: $bold;
}

.eigenWedstrijdDatum {
    display: block;
    color: $dodeka_rood;
    font-size: $font_medium;
    line-height: $line_height_medium;
    font-weight: $bold;
}

.eigenWedstrijdDatumOud {
    color: $dodeka_grijs;
}

.eigenWedstrijdFoto {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    object-fit: cover;
    height: 16rem;
    width: 100%;
    border-radius: 0.75rem;
    @include respond(mobile) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.eigenWedstrijdInfo {
    display: block;
    white-space: normal;
    color: white;
    font-size: $font_small;
    line-height: $line_height_small;
}

.activiteitenLink {
    color: $dodeka_rood;
    text-decoration: none;
    font-weight: $bold;
    font-size: $font_medium;
    line-height: $line_height_medium;
    bottom: 2rem;
}

.activiteitenLinkNormaal {
    color: $dodeka_rood;
    text-decoration: none;
    font-weight: $bold;
}

.eigenWedstrijdLink {
    position: absolute;
    display: block;
    color: $dodeka_rood;
    text-decoration: none;
    font-weight: $bold;
    font-size: $font_medium;
    line-height: $line_height_medium;
    bottom: 2rem;
}

.eigenWedstrijdLinkOud {
    color: $dodeka_grijs;
}