@use "../../../../variables";

.eigenWedstrijd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 38rem;
    min-width: 32rem;
    max-width: 32rem;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 4rem solid variables.$dodeka_rood;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    @include variables.respond(mobile) {
        min-width: 22rem;
        max-width: 22rem;
        height: 42rem;
        border-left: 2rem solid variables.$dodeka_rood;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.eigenWedstrijdOud {
    border-left: 4rem solid variables.$dodeka_grijs;
    @include variables.respond(mobile) {
        border-left: 2rem solid variables.$dodeka_grijs;
    }
}

.eigenWedstrijdNaam {
    display: block;
    color: white;
    font-size: variables.$font_large;
    line-height: variables.$line_height_large;
    font-weight: variables.$bold;
    white-space: normal;
}

.eigenWedstrijdDatum {
    display: block;
    color: variables.$dodeka_rood;
    font-size: variables.$font_medium;
    line-height: variables.$line_height_medium;
    font-weight: variables.$bold;
}

.eigenWedstrijdDatumOud {
    color: variables.$dodeka_grijs;
}

.eigenWedstrijdFoto {
    flex-grow: 1;
    object-fit: cover;
    height: 0;
    width: 100%;
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.eigenWedstrijdInfo {
    display: block;
    white-space: normal;
    color: white;
    font-size: variables.$font_small;
    line-height: variables.$line_height_small;
}

.activiteitenLink {
    color: variables.$dodeka_rood;
    text-decoration: none;
    font-weight: variables.$bold;
    font-size: variables.$font_medium;
    line-height: variables.$line_height_medium;
    bottom: 2rem;
}

.activiteitenLinkNormaal {
    color: variables.$dodeka_rood;
    text-decoration: none;
    font-weight: variables.$bold;
}

.eigenWedstrijdLinkContainer {
    width: 100%;
    padding-bottom: 2.5rem;
}

.eigenWedstrijdLink {
    display: block;
    width: 100%; 
    padding-top: 2rem;
    text-align: center;
    color: variables.$dodeka_rood;
    text-decoration: none;
    font-weight: variables.$bold;
    font-size: variables.$font_medium;
    line-height: variables.$line_height_medium;
}

.eigenWedstrijdLinkOud {
    color: variables.$dodeka_grijs;
}