@use "../../../../variables.scss";

.erelid {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc((100% - 16rem) / 3);
    height: 20rem;

    padding-bottom: calc(variables.$line_height_medium + 2rem);
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    @include variables.respond(mobile) {
        display: block;
        width: calc(100% - 4rem);
    }
}

.erelid_foto {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
}

.erelid_naam {
    position: absolute;
    top: calc(100% - variables.$line_height_medium - 2rem);
    width: 100%;
    white-space: nowrap;
    background-color: variables.$dodeka_rood;
    color: white;
    font-size: variables.$font_ml;
    line-height: variables.$line_height_medium;
    padding: 1rem;
    font-weight: variables.$bold;
    transition: all 0.5s ease-in-out;
}

.erelid_info {
    position: absolute;
    top: 100%;
    padding: 0.2rem 0.5rem;
    height: calc(100% - variables.$line_height_medium - 2rem);
    width: 100%;
    background-color: variables.$dodeka_blauw;
    opacity: 80%;
    color: white;
    transition: all 0.5s ease-in-out;
    font-size: variables.$font_medium;

    @include variables.respond(mobile) {
        padding: 0.5rem;
    }
}

.erelid_info li {
    margin-left: 1.5rem;
    padding-top: 0.5rem;

    @include variables.respond(mobile) {
        padding-top: 0.1 rem;
    }
}

.erelid.showdetails .erelid_info {
    top: calc(variables.$line_height_medium + 2rem);
}

.erelid.showdetails .erelid_foto {
    transform: translateY(calc(variables.$line_height_medium + 2rem)) scale(1.3);
}

.erelid.showdetails .erelid_naam {
    position: absolute;
    top: 0;
}
