@use "../../../variables";


.algemeen{
    margin-top: 0rem;
}

.headeropmaak{
    width: 100%;
}

.fotobalk{
    width: 100%;
    height: 20rem;
    @include variables.respond(mobile){
        height: 15rem;
        width: 100%;
    }
}

.fotos{
    width: 25%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    @include variables.respond(mobile){
        height: 15rem;
        object-fit: cover;
        object-position: center;
        width: 100%;
        margin-bottom: 14rem;
    }
}

.textalgemeen{
    width: 100%;
    height: 30rem;
    background-color: white;
    @include variables.respond(mobile){
        height: 30rem;
        background-color: white;
        width: 100%;
    }
}

.textkolom{
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 29%;
    display: inline-table;
    height: 20rem;
    padding: 2rem;
    margin-left: 2%;
    margin-right: 2%;
    background-color: variables.$dodeka_blauw90p;
    @include variables.respond(mobile){
        object-fit: cover;
        object-position: center;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0rem;
        margin-bottom: 14rem;
        width: 100%;
        height: 15rem;
        padding: 2rem;
        background-color: variables.$dodeka_blauw;
    }
}

.textvakheader{
    color: white;
    padding-bottom: 1rem;
    font-size: variables.$font_large;
    @include variables.respond(mobile){
        font-size: variables.$font_medium;
    }
}

.text{
    color: white;
    font-size: variables.$font_small;
}