@import "../../variables";

.wedstrijd_container {
    display: flex;
    position: relative;
    margin-bottom: 6rem;
}

.wedstrijd_logo {
    position: absolute;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    right: 34rem;
    top: -4rem;
}