@import "../../variables";

.leden_table {
  background-color: $dodeka_blauw90p;
  color: white;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
}

.leden_table th {
  width: 20%;
  padding: 0;
  margin:0;
  background-color: $dodeka_rood;
  height: 4rem;
  font-size: $font_medium;
}

.leden_table th:first-of-type {
  border-radius: 0.5rem 0 0 0;
}

.leden_table th:last-of-type {
  border-radius: 0 0.5rem 0 0;
}

.leden_table tr {
  height: 2rem;
  font-size: $font_small;
  line-height: $line_height_small;
  text-align: center;
}

.leden_table button {
  background: none;
  border: none;
  text-decoration: none;
  color: $dodeka_rood;
  cursor: pointer;

}

.leden_table svg {
  fill: white;
  line-height: 4rem;
  vertical-align: middle;
  cursor: pointer;
  align-self: center;
}

.confirmStatus {
  color: green;
}