@use "../../variables";

.admin_container {
    position: relative;
}

.admin_status {
    color: variables.$dodeka_blauw;
    margin-left: 4rem;
}

.admin_toggle {
    display: flex;
    margin-left: 4rem;
}

.admin_toggle h1 {
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: variables.$font_medium;
    line-height: variables.$line_height_medium;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    background-color: variables.$dodeka_blauw;
    border-radius: 0.75rem 0.75rem 0 0;
    text-align: center;
    cursor: pointer;
}

.admin_toggle_active {
    background-color: variables.$dodeka_rood !important;
}

.table_container {
    margin-left: 4rem;
    margin-right: 4rem;
    width: calc(100% - 8rem);
    margin-bottom: 6rem;
}

.table_title {
    margin-left: 4rem;
    margin-bottom: 1rem;
    font-size: variables.$font_medium;
    color: variables.$dodeka_blauw;
}

.admin_mobile {
    display: none;
    @include variables.respond(mobile) {
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 4rem;
    }
}

.admin_pc {
    @include variables.respond(mobile) {
        display: none;
    }
}