@use "../../../../variables";

#question_box {
    background-color: variables.$dodeka_blauw90p;
    color: white;
    font-size: variables.$font_medium;
    margin-bottom: variables.$margin_y;
    border-radius: 0.75rem;
}

#question {
    font-weight: variables.$bold;
    background-color: variables.$dodeka_rood;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    padding-left: variables.$margin_y;
    padding-right: variables.$margin_y;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#answer { 
    font-size: variables.$font_small;
    line-height: variables.$line_height_small;
    padding-left: variables.$margin_y;
    padding-right: variables.$margin_y;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}